
.petty-icon037-play-button:before { content: '\e800'; } /* '' */
.petty-icon038-play-1:before { content: '\e801'; } /* '' */
.petty-icon036-play:before { content: '\e802'; } /* '' */
.petty-icon003-like-1:before { content: '\e80e'; } /* '' */
.petty-icon004-like-2:before { content: '\e80f'; } /* '' */
.petty-icon005-visibility:before { content: '\e810'; } /* '' */
.petty-icon006-footprint:before { content: '\e811'; } /* '' */
.petty-icon007-pin:before { content: '\e812'; } /* '' */
.petty-icon008-placeholder:before { content: '\e813'; } /* '' */
.petty-icon009-footprint-1:before { content: '\e814'; } /* '' */
.petty-icon010-pawprint:before { content: '\e815'; } /* '' */
.petty-icon011-map:before { content: '\e816'; } /* '' */
.petty-icon012-placeholder-1:before { content: '\e817'; } /* '' */
.petty-icon013-placeholder-2:before { content: '\e818'; } /* '' */
.petty-icon014-phone:before { content: '\e819'; } /* '' */
.petty-icon015-phone-1:before { content: '\e81a'; } /* '' */
.petty-icon016-phone-2:before { content: '\e81b'; } /* '' */
.petty-icon017-alarm:before { content: '\e81c'; } /* '' */
.petty-icon018-alarm-1:before { content: '\e81d'; } /* '' */
.petty-icon019-clock:before { content: '\e81e'; } /* '' */
.petty-icon020-timer:before { content: '\e81f'; } /* '' */
.petty-icon021-facebook:before { content: '\e820'; } /* '' */
.petty-icon023-twitter:before { content: '\e822'; } /* '' */
.petty-icon024-twitter-1:before { content: '\e823'; } /* '' */
.petty-icon025-twitter-2:before { content: '\e824'; } /* '' */
.petty-icon026-twitter-3:before { content: '\e825'; } /* '' */
.petty-icon027-twitter-4:before { content: '\e826'; } /* '' */
.petty-icon028-instagram-symbol:before { content: '\e827'; } /* '' */
.petty-icon029-instagram-logo:before { content: '\e828'; } /* '' */
.petty-icon030-pinterest:before { content: '\e829'; } /* '' */
.petty-icon031-instagram-social-network-logo-of-photo-camera:before { content: '\e82a'; } /* '' */
.petty-icon032-pinterest-logo:before { content: '\e82b'; } /* '' */
.petty-icon033-pinterest-1:before { content: '\e82c'; } /* '' */
.petty-icon034-pinterest-2:before { content: '\e82d'; } /* '' */
.petty-icon035-google:before { content: '\e82e'; } /* '' */
.petty-icon001-view:before { content: '\e82f'; } /* '' */
.petty-icon002-like:before { content: '\e830'; } /* '' */
.petty-icon003-like-2:before { content: '\e831'; } /* '' */