@font-face {
  font-family: 'icon';
  src: url('../font/icon.eot?48506255');
  src: url('../font/icon.eot?48506255#iefix') format('embedded-opentype'),
       url('../font/icon.woff2?48506255') format('woff2'),
       url('../font/icon.woff?48506255') format('woff'),
       url('../font/icon.ttf?48506255') format('truetype'),
       url('../font/icon.svg?48506255#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon';
    src: url('../font/icon.svg?48506255#icon') format('svg');
  }
}
*/
 
 [class^="icon-2"]:before, [class*=" icon-2"]:before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-2005-user-1:before { content: '\e800'; } /* '' */
.icon-2005-user-2:before { content: '\e801'; } /* '' */
.icon-2006-user-3:before { content: '\e802'; } /* '' */
.icon-2007-shopping-bag:before { content: '\e803'; } /* '' */
.icon-2007-user-3:before { content: '\e804'; } /* '' */
.icon-2008-shopping-bag-1:before { content: '\e805'; } /* '' */
.icon-2009-shopping-bag-2:before { content: '\e806'; } /* '' */
.icon-2010-shopping-bag-2:before { content: '\e807'; } /* '' */
.icon-2010-shopping-bag-3:before { content: '\e808'; } /* '' */
.icon-2011-bag:before { content: '\e809'; } /* '' */
.icon-2011-shopping-bag-3:before { content: '\e80a'; } /* '' */
.icon-2012-minus:before { content: '\e80b'; } /* '' */
.icon-2013-search:before { content: '\e80c'; } /* '' */
.icon-2014-loupe:before { content: '\e80d'; } /* '' */
.icon-2001-search:before { content: '\e80e'; } /* '' */
.icon-2001-search-1:before { content: '\e80f'; } /* '' */
.icon-2003-user:before { content: '\e812'; } /* '' */
.icon-2004-user:before { content: '\e813'; } /* '' */
.icon-2004-user-1:before { content: '\e814'; } /* '' */
.icon-2006-user-2:before { content: '\e815'; } /* '' */
.icon-2008-shopping-bag:before { content: '\e816'; } /* '' */
.icon-2009-shopping-bag-1:before { content: '\e817'; } /* '' */
.icon-2002-search-1:before { content: '\e818'; } /* '' */