
.icon-2005-user-1:before { content: '\e800'; } /* '' */
.icon-2005-user-2:before { content: '\e801'; } /* '' */
.icon-2006-user-3:before { content: '\e802'; } /* '' */
.icon-2007-shopping-bag:before { content: '\e803'; } /* '' */
.icon-2007-user-3:before { content: '\e804'; } /* '' */
.icon-2008-shopping-bag-1:before { content: '\e805'; } /* '' */
.icon-2009-shopping-bag-2:before { content: '\e806'; } /* '' */
.icon-2010-shopping-bag-2:before { content: '\e807'; } /* '' */
.icon-2010-shopping-bag-3:before { content: '\e808'; } /* '' */
.icon-2011-bag:before { content: '\e809'; } /* '' */
.icon-2011-shopping-bag-3:before { content: '\e80a'; } /* '' */
.icon-2012-minus:before { content: '\e80b'; } /* '' */
.icon-2013-search:before { content: '\e80c'; } /* '' */
.icon-2014-loupe:before { content: '\e80d'; } /* '' */
.icon-2001-search:before { content: '\e80e'; } /* '' */
.icon-2001-search-1:before { content: '\e80f'; } /* '' */
.icon-2003-user:before { content: '\e812'; } /* '' */
.icon-2004-user:before { content: '\e813'; } /* '' */
.icon-2004-user-1:before { content: '\e814'; } /* '' */
.icon-2006-user-2:before { content: '\e815'; } /* '' */
.icon-2008-shopping-bag:before { content: '\e816'; } /* '' */
.icon-2009-shopping-bag-1:before { content: '\e817'; } /* '' */
.icon-2002-search-1:before { content: '\e818'; } /* '' */