section.elementor-element-e06dce4{
	.elementor-element-94f7ba0{
		.elementor-element-9496355{
			.elementor-widget-container{
				.call-us{
					button.button.call-us{
						cursor: pointer;
						position: relative;
						-webkit-transition: all .4s ease-in-out;
						-moz-transition: all .4s ease-in-out;
						-ms-transition: all .4s ease-in-out;
						-o-transition: all .4s ease-in-out;
						transition: all .4s ease-in-out;
						span.call-us-title, span.call-us-icon-wrapper, span.phone-number{
							z-index: 10;
							position: relative;
						}
						span.call-us-icon-wrapper{
							margin: 0;
						}
						&:before{
							content: '';
							position: absolute;
							opacity: 0;
							visibility: hidden;
							top: 1px;
							left: 1px;
							background-color:rgba(255, 255, 255, 0);
							display: inline-block;
							vertical-align: middle;
							width: 48px;
							height: 48px;
							padding: 2px;
							margin-right: 10px;
							text-align: center;
							border-radius: 50%;
							-webkit-transition: all .4s ease-in-out;
							-moz-transition: all .4s ease-in-out;
							-ms-transition: all .4s ease-in-out;
							-o-transition: all .4s ease-in-out;
							transition: all .4s ease-in-out;
						}
						&:after{
							content: '';
							position: absolute;
							opacity: 0;
							visibility: hidden;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
							border-radius: 100px;
							z-index: 5;
							animation: animatedgradient 3s ease alternate infinite;
							background-size: 300% 300%;
							-webkit-transition: all .4s ease-in-out;
							-moz-transition: all .4s ease-in-out;
							-ms-transition: all .4s ease-in-out;
							-o-transition: all .4s ease-in-out;
							transition: all .4s ease-in-out;
						}
						&:hover{
							box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
							-webkit-transition: all .4s ease-in-out;
							-moz-transition: all .4s ease-in-out;
							-ms-transition: all .4s ease-in-out;
							-o-transition: all .4s ease-in-out;
							transition: all .4s ease-in-out;
							&:before{
									visibility: visible;
									opacity: 1;
									-webkit-transition: all .3s ease-in-out;
									-moz-transition: all .3s ease-in-out;
									-ms-transition: all .3s ease-in-out;
									-o-transition: all .3s ease-in-out;
									transition: all .3s ease-in-out;
								}
								&:after{
									visibility: visible;
									opacity: 1;
									-webkit-transition: all .3s ease-in-out;
									-moz-transition: all .3s ease-in-out;
									-ms-transition: all .3s ease-in-out;
									-o-transition: all .3s ease-in-out;
									transition: all .3s ease-in-out;
								}
						}
					}
				}
			}
		}
		.elementor-element-e03a51b{
			.elementor-widget-container{
				.ellipse_play{
					a.button.ellipse_play{
						display: inline-flex;
						cursor: pointer;
						justify-content: center;
						align-items: center;
						-webkit-transition: all .5s ease-in-out;
						-moz-transition: all .5s ease-in-out;
						-ms-transition: all .5s ease-in-out;
						-o-transition: all .5s ease-in-out;
						transition: all .5s ease-in-out;
						span.play-icon-wrapper{
							i{
								-webkit-transition: all .5s ease-in-out;
								-moz-transition: all .5s ease-in-out;
								-ms-transition: all .5s ease-in-out;
								-o-transition: all .5s ease-in-out;
								transition: all .5s ease-in-out;
							}
						}
						&:hover{
							box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
							background-color: #38ccb9;
							-webkit-animation: tada 1s linear infinite;
							animation: tada 1.5s linear infinite;
							-webkit-transition: all .5s ease-in-out;
							-moz-transition: all .5s ease-in-out;
							-ms-transition: all .5s ease-in-out;
							-o-transition: all .5s ease-in-out;
							transition: all .5s ease-in-out;
							span.play-icon-wrapper{
								display: flex;
								justify-content: center;
								align-items: center;
								i{
									color: #fff;
									-webkit-transition: all .5s ease-in-out;
									-moz-transition: all .5s ease-in-out;
									-ms-transition: all .5s ease-in-out;
									-o-transition: all .5s ease-in-out;
									transition: all .5s ease-in-out;
								}
							}
						}
					}
				}
			}
		}
	}
}
body.home.page-template-default.page{
	div#jws-pagination{
		display: none;
	}
}

/* TADA */

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(.9) rotate(-8deg);
    transform: scale(.9) rotate(-8deg);
  }

  30%, 50%, 70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }

  40%, 60% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }

  80% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(.9) rotate(-8deg);
    -ms-transform: scale(.9) rotate(-8deg);
    transform: scale(.9) rotate(-8deg);
  }

  30%, 50%, 70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    -ms-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }

  40%, 60% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    -ms-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }

  80% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

// .faa-tada.animated,
// .faa-tada.animated-hover:hover,
// .faa-parent.animated-hover:hover > .faa-tada {
//   -webkit-animation: tada 2s linear infinite;
//   animation: tada 2s linear infinite;
// }

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}