ul#lists_page{
	display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    li.container-post{
    	cursor: pointer;
    	display: inline-block;
      position: relative;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0 0;
      &:before {
        content:"";
        width: 0;
        height: 2px;
        position: absolute;
        transition: all 0.2s linear;
        background: #031B18;
        left: 50%;
        top: 0;
        transition-duration: 0.5s;
      }
      &:after {
        content:"";
        width: 0;
        height: 2px;
        position: absolute;
        transition: all 0.2s linear;
        background: #031B18;
        left: 50%;
        bottom: 0;
        transition-duration: 0.5s;
      }
      a.link-page{
        display: block;
        position: relative;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        &:before{
          content:"";
          width:2px;
          height:0;
          position: absolute;
          transition: all 0.2s linear;
          background: #031B18;
          left: 0px;
          top: 50%;
          transition-duration: 0.5s;
        }
        &:after{
          content:"";
          width:2px;
          height:0;
          position: absolute;
          transition: all 0.2s linear;
          background: #031B18;
          right: 0px;
          top: 50%;
          transition-duration: 0.5s;
        }
      }
      &:hover{
        &:before{
          width: 100%;
          left: 0;
        }
        &:after{
          width: 100%;
          left: 0;
        }
        a.link-page{
          color: #031B18;
          -webkit-transition: all .5s ease-in-out;
          -moz-transition: all .5s ease-in-out;
          -ms-transition: all .5s ease-in-out;
          -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
         &:before{
          height: 100%;
          top: 0;
        }
        &:after{
          height: 100%;
          top: 0;
          }
        }
    	 
    	}
    }
}
@keyframes beat{
	to { transform: scale(1.005); }
}
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}