.elementor-widget-container{
	.tags-container{
		&.layout1{
			ul.tag-lists {
				list-style: none;
				display: flex;
				margin: 0 0 0 0;
				padding: 0 0 0 0;
				li.list-item {
					border: 1px solid #dedede;
					margin: 0 15px 0 0;
					padding: 0 0 0 0;
					width: 80px;
					height: 30px;
					text-align: center;
					text-transform: capitalize;
					color: #7a7a7a;
					cursor: pointer;
					font-size: 13px;
					font-weight: 400;
					-webkit-transition: all .5s ease-in-out;
					-moz-transition: all .5s ease-in-out;
					-ms-transition: all .5s ease-in-out;
					-o-transition: all .5s ease-in-out;
					transition: all .5s ease-in-out;
					&:hover{
						background-color: #10b64e;
						border: 1px solid #10b64e;
						color: #fff;
						-webkit-transition: all .5s ease-in-out;
						-moz-transition: all .5s ease-in-out;
						-ms-transition: all .5s ease-in-out;
						-o-transition: all .5s ease-in-out;
						transition: all .5s ease-in-out;
					}
				}
			}
		}
	}
}