@font-face {
  font-family: 'icon_left_quote';
  src: url('../font/icon_left_quote.eot?68723122');
  src: url('../font/icon_left_quote.eot?68723122#iefix') format('embedded-opentype'),
       url('../font/icon_left_quote.woff2?68723122') format('woff2'),
       url('../font/icon_left_quote.woff?68723122') format('woff'),
       url('../font/icon_left_quote.ttf?68723122') format('truetype'),
       url('../font/icon_left_quote.svg?68723122#icon_left_quote') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon_left_quote';
    src: url('../font/icon_left_quote.svg?68723122#icon_left_quote') format('svg');
  }
}
*/
 
 [class^="icon-left-quote"]:before, [class*=" icon-left-quote"]:before {
  font-family: "icon_left_quote";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left-quoteleft-quote:before { content: '\e800'; } /* '' */