
.icon-016-circular-arrow:before { content: '\f10d'; } /* '' */
.icon-017-loop:before { content: '\f10e'; } /* '' */
.icon-018-truck:before { content: '\f10f'; } /* '' */
.icon-019-delivery:before { content: '\f110'; } /* '' */
.icon-020-credit-card:before { content: '\f111'; } /* '' */