
.icon-punctuationleft-quote:before { content: '\e800'; } /* '' */
.icon-punctuation002-diamonds:before { content: '\e801'; } /* '' */
.icon-punctuation003-rhombus:before { content: '\e802'; } /* '' */