
.icon-008-shopping-bag:before { content: '\e800'; } /* '' */
.icon-009-shopping-bag-1:before { content: '\e801'; } /* '' */
.icon-010-shopping-bag-2:before { content: '\e802'; } /* '' */
.icon-011-shopping-bag-3:before { content: '\e803'; } /* '' */
.icon-001-search:before { content: '\e804'; } /* '' */
.icon-002-search-1:before { content: '\e805'; } /* '' */
.icon-003-magnifying-glass:before { content: '\e806'; } /* '' */
.icon-004-user:before { content: '\e807'; } /* '' */
.icon-005-user-1:before { content: '\e808'; } /* '' */
.icon-006-user-2:before { content: '\e809'; } /* '' */
.icon-007-user-3:before { content: '\e80a'; } /* '' */