@font-face {
  font-family: 'icon_petty_3';
  src: url('../font/icon_petty_3.eot?49231784');
  src: url('../font/icon_petty_3.eot?49231784#iefix') format('embedded-opentype'),
       url('../font/icon_petty_3.woff2?49231784') format('woff2'),
       url('../font/icon_petty_3.woff?49231784') format('woff'),
       url('../font/icon_petty_3.ttf?49231784') format('truetype'),
       url('../font/icon_petty_3.svg?49231784#icon_petty_3') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon_petty_3';
    src: url('../font/icon_petty_3.svg?49231784#icon_petty_3') format('svg');
  }
}
*/
 
 [class^="petty-icon-s-c-u"]:before, [class*=" petty-icon-s-c-u"]:before {
  font-family: "icon_petty_3";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.petty-icon-s-c-u005-shopping-bag:before { content: '\e800'; } /* '' */
.petty-icon-s-c-u010-shop:before { content: '\e814'; } /* '' */
.petty-icon-s-c-u011-user:before { content: '\e815'; } /* '' */
.petty-icon-s-c-u012-user-1:before { content: '\e816'; } /* '' */
.petty-icon-s-c-u013-user-2:before { content: '\e817'; } /* '' */
.petty-icon-s-c-u014-user-3:before { content: '\e818'; } /* '' */
.petty-icon-s-c-u015-user-4:before { content: '\e819'; } /* '' */
.petty-icon-s-c-u016-user-5:before { content: '\e81a'; } /* '' */
.petty-icon-s-c-u017-user-6:before { content: '\e81b'; } /* '' */
.petty-icon-s-c-u018-user-7:before { content: '\e81c'; } /* '' */
.petty-icon-s-c-u001-search-1:before { content: '\e81d'; } /* '' */
.petty-icon-s-c-u002-search:before { content: '\e81e'; } /* '' */
.petty-icon-s-c-u003-loupe:before { content: '\e81f'; } /* '' */
.petty-icon-s-c-u004-magnifying-glass:before { content: '\e820'; } /* '' */
.petty-icon-s-c-u022-facebook-1:before { content: '\e821'; } /* '' */
.petty-icon-s-c-u006-shopping-bag-1:before { content: '\e822'; } /* '' */
.petty-icon-s-c-u007-shopping-bag-2:before { content: '\e823'; } /* '' */
.petty-icon-s-c-u008-shopping-bag-3:before { content: '\e824'; } /* '' */
.petty-icon-s-c-u009-shopping-bag-4:before { content: '\e825'; } /* '' */