
.icon-001-magnifying-glass:before { content: '\f100'; } /* '' */
.icon-002-user:before { content: '\f101'; } /* '' */
.icon-003-user-1:before { content: '\f102'; } /* '' */
.icon-004-user-2:before { content: '\f103'; } /* '' */
.icon-005-shopping-bag:before { content: '\f104'; } /* '' */
.icon-006-shopping-bag-1:before { content: '\f105'; } /* '' */
.icon-007-minus:before { content: '\f106'; } /* '' */
.icon-008-search:before { content: '\f107'; } /* '' */
.icon-009-loupe:before { content: '\f108'; } /* '' */
.icon-012-repeat-1:before { content: '\f109'; } /* '' */
.icon-013-repeat-2:before { content: '\f10a'; } /* '' */
.icon-014-shopping-bag-2:before { content: '\f10b'; } /* '' */
.icon-015-list:before { content: '\f10c'; } /* '' */
.icon-016-circular-arrow:before { content: '\f10d'; } /* '' */
.icon-017-loop:before { content: '\f10e'; } /* '' */
.icon-018-truck:before { content: '\f10f'; } /* '' */
.icon-019-delivery:before { content: '\f110'; } /* '' */
.icon-020-credit-card:before { content: '\f111'; } /* '' */