
.icon-010-pawprint:before { content: '\e800'; } /* '' */
.icon-011-map:before { content: '\e801'; } /* '' */
.icon-012-placeholder-1:before { content: '\e802'; } /* '' */
.icon-013-placeholder-2:before { content: '\e803'; } /* '' */
.icon-014-phone:before { content: '\e804'; } /* '' */
.icon-015-phone-1:before { content: '\e805'; } /* '' */
.icon-016-phone-2:before { content: '\e806'; } /* '' */
.icon-017-phone-3:before { content: '\e807'; } /* '' */
.icon-018-alarm:before { content: '\e808'; } /* '' */
.icon-019-alarm-1:before { content: '\e809'; } /* '' */
.icon-020-clock:before { content: '\e80a'; } /* '' */
.icon-021-timer:before { content: '\e80b'; } /* '' */
.icon-001-view:before { content: '\e80c'; } /* '' */
.icon-002-like:before { content: '\e80d'; } /* '' */
.icon-004-like-2:before { content: '\e80f'; } /* '' */
.icon-005-visibility:before { content: '\e810'; } /* '' */
.icon-006-footprint-1:before { content: '\e811'; } /* '' */
.icon-007-pin:before { content: '\e812'; } /* '' */
.icon-008-placeholder:before { content: '\e813'; } /* '' */
.icon-009-footprint:before { content: '\e814'; } /* '' */